.wrapper {
    max-width: 350px;
    height: 380px;
    border: 1px solid #e6e6e6;
    background: #fff;
    margin: 60px auto;
}
img{
    max-width: 175px;
    height: 51px;
    display: block;
    white-space: nowrap;
    text-indent: 110%;
    margin: 22px auto 12px;
}